@font-face {
    font-family: "Signature";
    src: url(Fonts/BlackSignature.otf);
}

@font-face {
    font-family: "Changa";
    src: url(Fonts/ChangaOne.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(Fonts/Roboto.ttf);
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    min-width: 750px;
}

a {
    text-decoration: none;
}

.standardMargins {
    margin-inline: 10%;
}

.nextBlock {
    margin-block-start: 50px;
}


.fontSignature {
    font-family: Signature;
    font-size: 20px;
    color: #3E3E3E;
}

.fontChangaLogo {
    font-family: Changa;
    font-size: 30px;
}

.purpleHighlight {
    color: #8A53FF;
}

.genericTitle {
    margin-block: 5px;
    font-family: Changa;
    font-size: 40px;
    color: #434343;
}

.genericFlair {
    margin-block: 5px;
    font-family: Roboto;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #8A53FF;
}

.genericDescription {
    margin-block: 5px;
    font-family: Roboto;
    font-size: 20px;
    color: #434343;
}

.largeTitle {
    font-family: Changa;
    font-size: 70px;
    color: #434343;
}

.largeDescription {
    font-family: Roboto;
    font-size: 25px;
    margin-inline-start: 5px;
    color: #434343;
}

.mediumTitle {
    margin-block: 5px;
    font-family: Changa;
    font-size: 50px;
    color: #434343;
}

.smallerTitle {
    margin-block: 5px;
    font-family: Changa;
    font-size: 30px;
    color: #434343;
}

.smallerDescription {
    font-family: Roboto;
    font-size: 15px;
    margin-inline-start: 5px;
    color: #434343;
}

.italicTitle {
    margin-block: 5px;
    font-family: Changa;
    font-size: 40px;
    font-style: italic;
    color: #434343;
}

.avatarTitle {
    font-family: Roboto;
    font-size: 15px;
    color: #434343;
}

.grayDescription {
    margin-block: 5px;
    font-family: Roboto;
    font-style: italic;
    font-size: 15px;
    color: #A2A7B1;
}

.boldDescription {
    font-family: Roboto;
    font-size: 15px;
    margin-inline-start: 5px;
    color: #434343;
    font-weight: bold;
    margin-block-end: 10px;
}

.yetAnotherFont {
    font-family: Changa;
    font-size: 25px;
    color: #434343;
}






.headerFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: calc(10% - 15px);
    flex-wrap: wrap;
}

.headerLogo {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 15px;
}

.headerLogo:hover {
    background-color: #EFEFEF;
}

.headerContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.headerButton {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    font-family: Roboto;
    font-size: 15px;
    color: #495367;
}

.headerButton:hover {
    background-color: #EFEFEF;
}

.headerHighlight {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    font-family: Roboto;
    color: #8A53FF;
}

.headerHighlight:hover {
    background-color: #EFEFEF;
}

.footerCopyright {
    display: flex;
    border-radius: 5px;
    margin-block-end: 20px;
    margin-inline: 15px;
    font-family: Roboto;
    font-size: 15px;
    color: #495367;
}

.footerButton {
    display: flex;
    border-radius: 5px;
    margin-block-end: 20px;
    margin-inline: 15px;
    font-family: Roboto;
    font-size: 15px;
    color: #495367;
}





.introductionContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-block-end: 15px;
}

.introductionText {
    display: flex;
    flex-direction: column;
    width: min(66%, 415px);
    justify-content: center;
    align-items: flex-start;
}

.introductionAvatar {
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px;
}

.introductionAvatar:hover {
    background: #00000010;
}

.halphText {
    display: flex;
    flex-direction: column;
    margin: 10px;
}





.imageFill {
    width: 100%;
    object-fit: contain;
    border-radius: max(10px, 0.75vw);
}





.halphTheParent {
    width: 50%;
    margin: 10px;
    align-items: flex-start;
}

.directionRow {
    display: flex;
    flex-direction: row;
}

.directionColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.additionalMargin {
    margin-block-end: 20px;
}

.forbiddenLayout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.buttonSolid {
    display: flex;
    background-color: #8A53FF;
    width: fit-content;
    border-radius: 5px;
    padding: 15px;
    color: #FFFFFF;
    font-family: Roboto;
}

.buttonSolid:hover {
    background-color: #7A43EF;
}





.justFlex {
    display: flex;
    margin-block-start: 15px;
}

.aThird {
    display: flex;
    flex-direction: column;
    margin-inline: 10px;
}


.covid {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #FAFAFA;
    border-radius: 5px;
}





.formBackground {
    background-image: url("Images/shareTravels.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 75px;
}

.formBody {
    background-color: white;
    margin-block-start: 15px;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
}

.formText {
    width: calc(100% - 35px);
    padding: 15px;
    font-family: Roboto;
    font-size: 15px;
    border: solid;
    border-color: #0000003B;
    border-width: 2px;
    border-radius: 5px;
    margin-block: 5px;
}

.formInput::placeholder {
    color: #00000099;
}

.formSelect {
    width: calc(100%);
    padding: 15px;
    font-family: Roboto;
    font-size: 15px;
    border: solid;
    border-color: #0000003B;
    border-width: 2px;
    border-radius: 5px;
    margin-block: 5px;
    color: #00000099;
    appearance: none;
    background-image: url("Icons/dropDown.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.formTextarea {
    width: calc(100% - 35px);
    padding: 15px;
    font-family: Roboto;
    font-size: 15px;
    border: solid;
    border-color: #0000003B;
    border-width: 2px;
    border-radius: 5px;
    margin-block: 5px;
    resize: none;
    min-height: 75px;
}

.formSubmit {
    display: flex;
    background-color: #8A53FF;
    border: none;
    border-radius: 5px;
    padding: 15px 100px;
    color: #FFFFFF;
}

.formSubmit:hover {
    background-color: #7A43EF;
}