* {
    padding: 0px;
    margin: 0px;
}

body {
    min-width: 550px;
}

p {
    margin: 0px;
    color: #434343;
}

a {
    text-decoration: none;
}

.margin10{
    margin-inline-start: 10%;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 8.75%;
    flex-wrap: wrap;
}

.headerLogo {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 15px;
}
.headerLogo:hover {
    background-color: #EFEFEF;
}

.menuContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.menuButton {
    display: flex;
    color: #495367;
    border-radius: 5px;
    padding: 15px;
}
.menuButton:hover {
    background-color: #EFEFEF;
}

/*Нужны указания на более точное поведение фоновой картинки при масштабировании страницы*/
.backgroundImage {
    background-image: url("Images/background.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    min-height: 50vh;
}

.contentMargin {
    margin-left: 20px;
}

.highlightText {
    display: flex;
    font-size: 70px;
    /*Размер пробела при данном размере текста - ровно 18px*/
    gap: 18px;
    font-weight: bold;
}
.purpleHighlight {
    color:#8A53FF;
}

.mainText {
    font-size: 25px;
    margin-top: 5px;
}

.consecutiveButtons {
    display:flex;
    margin-top: 35px;
}

.buttonSolid {
    display: flex;
    background-color: #8A53FF;
    color: white;
    border:none;
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
}
.buttonSolid:hover {
    background-color: #7A43EF;
}

.buttonVideo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #434343;
    border-radius: 5px;
    padding-inline: 15px;
    margin-left: 15px;
    gap: 10px;
}
.buttonVideo:hover {
    background: rgb(0, 0, 0, 0.05);
}